<ion-header>
  <ion-toolbar style="color:red">
    <ion-title style="font-size: 17px">
      Mosquito Suck
    </ion-title>

    <ion-img src="/assets/mozzi.png" style="width:50px;float: right;"></ion-img>
  </ion-toolbar>
</ion-header>


<ion-content>
    <ion-header style="color: red; margin: auto; text-align: center">
        <b>Risk Periods</b></ion-header>
      <ion-list>
          <ion-item *ngFor="let RP of RiskPer">
              <ion-text  text-wrap><b>{{RP.RiskP_Type}}</b> <br>{{RP.RiskP_Desc}} </ion-text>
            </ion-item>
      </ion-list>
    <ion-card class="welcome-card" *ngFor="let Dis of Diseases">
      <ion-card-header>
        <ion-card-title>Information about {{Dis.Des_Name}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>{{Dis.Des_Desc}}</p>
      </ion-card-content>
    </ion-card>
  </ion-content>
  
