<header>
  <div class="container">
      <a routerLink="/">{{ appTitle }}</a>
    <nav>
      <ul>
        <li><a routerLink="/" style="padding: 8px">Login</a></li>
        
          <li><a routerLink="/Causes" style="padding: 8px">Causes</a></li>
          <!--<li><a routerLink="/about">About</a></li>-->
          <li><a routerLink="/Disease" style="padding: 8px">Disease</a></li>
          <li><a routerLink="/Prevention" style="padding: 8px">Prevention</a></li>
          <li><a routerLink="/Symptom" style="padding: 8px">Symptom</a></li>
          <li><a routerLink="/Treatment" style="padding: 8px">Treatment</a></li>
          <li><a routerLink="/RiskPeriod" style="padding: 8px">Risk Perioid </a></li>
          <li><a routerLink="/Location" style="padding: 8px">Location</a></li>   
          <li><a routerLink="/Med" style="padding: 8px">Med Profs</a></li>   
          <li><a routerLink="/Note" style="padding: 8px">Notifications</a></li> 
         
      </ul>
    </nav>
  </div>
</header>