<h1>Risk Periods</h1>
<table>
  <tr>
    <th>ID</th>
    <th>Description</th>
    <th>Type</th>
    <th>Remove</th>
    <th>Edit</th>
  </tr>
  <tr *ngFor="let RP of RiskPeriods">
    <td>{{RP.RiskP_ID}}</td>
    <td>{{RP.RiskP_Desc}}</td>
    <td>{{RP.RiskP_Type}}</td>
    <td><button (click)="removeRiskPeriod(RP.RiskP_ID)"  class="cta">Remove</button></td>
    <td><button (click)="edit(RP.RiskP_ID,RP.RiskP_Desc,RP.RiskP_Type)"  class="cta">Edit</button></td>
  </tr>
</table>
<button (click)="addRP1()" *ngIf="addAct" class="cta">Click to add new risk period</button>



<div *ngIf="editistrue">
  <form [formGroup]="EditForm" (ngSubmit)="updateRiskPeriod()">
    <label>
      Risk Period ID:
      <input type="text" formControlName="RiskP_ID" disabled>
    </label>
    <label>
      Risk Period Description:
      <input type="text" formControlName="RiskP_Desc">
    </label>
    <label>
      Risk Period Type:
      <input type="text" formControlName="RiskP_Type">
    </label>
    
  <br>
  <br>
    <input type="submit" value="Update Item" class="cta" >
    <br>
    <br>
    <input type="button" (click)="cancelUC()"value="Cancel" class="cta">
  </form>
</div>

<div *ngIf="addistrue">
  <form [formGroup]="AddForm" (ngSubmit)="addRiskPeriods()">
    <label>
      Risk Period Description:
      <input type="text" formControlName="RiskP_Desc">
    </label>
    <label>
      Risk Period Type:
      <input type="text" formControlName="RiskP_Type">
    </label>
  <br>
  <br>
    <input type="submit" value="Add Item" class="cta" >
    <br>
    <br>
    <input type="button" (click)="cancelAC()"value="Cancel" class="cta">
  </form>
</div>

<h1>Risk period and Disease links</h1>
<table>
  <tr>
    <th>ID</th>
    <th>Risk Period</th>
    <th>Disease</th>
    <th>Remove</th>
    <th>Edit</th>
  </tr>
  <tr *ngFor="let loc_des of loc_des_s">
    <td>{{loc_des.RP_Des_ID}}</td>
    <td>{{loc_des.RiskP_Desc}}</td>
    <td>{{loc_des.Des_Name}}</td>
    <td><button (click)="removeLoc_Des(loc_des.RP_Des_ID)"  class="cta">Remove</button></td>
    <td><button (click)="editloc_des(loc_des.RP_Des_ID,loc_des.RiskP_ID,loc_des.Des_ID)"  class="cta">Edit</button></td>
  </tr>
</table>
<button (click)="addLoc_des()" *ngIf="addAct" class="cta">Click to add new Risk period and Disease link</button>

<div *ngIf="addLDisTrue">
  <form [formGroup]="AddFormRP_Des" (ngSubmit)="addLD()">
    <label>
      Risk Period Description:
    </label>
    <select formControlName="RiskP_Desc" [(value)]="SelectionLoc">
      <option value="" disabled>Choose the Risk Period</option>
      <option *ngFor="let opt of optionsl" [(value)]="opt.RiskP_ID">{{opt.RiskP_Desc}}</option>
   </select>
    <label>
      Disease Name:
    </label>
    <select formControlName="Dis_Name" [(value)]="SelectionDes">
      <option value="" disabled>Choose the Disease</option>
      <option *ngFor="let opt of optionsd" [(value)]="opt.Des_ID">{{opt.Des_Name}}</option>
   </select>
  <br>
  <br>
    <input type="submit" value="Add Item" class="cta" >
    <br>
    <br>
    <input type="button" (click)="cancelALD()"value="Cancel" class="cta">
  </form>
</div>

<div *ngIf="editLDisTrue">
  <form [formGroup]="EditFormRP_Des" (ngSubmit)="updateLoc_Des()">
    <label>
      Risk Period Disease ID:
      <input type="text" formControlName="RP_Des_ID" disabled>
    </label>
    <label>
      Risk Period Description:
    </label>
    <select formControlName="RiskP_Desc" [(value)]="SelectionLoc">
      <option value="" disabled>Choose the Risk Period</option>
      <option *ngFor="let opt of optionsl" [(value)]="opt.RiskP_ID">{{opt.RiskP_Desc}}</option>
   </select>
    <label>
      Disease Name:
    </label>
    <select formControlName="Dis_Name" [(value)]="SelectionDes">
      <option value="" disabled>Choose the Disease</option>
      <option *ngFor="let opt of optionsd" [(value)]="opt.Des_ID">{{opt.Des_Name}}</option>
   </select>
  <br>
  <br>
    <input type="submit" value="Update Item" class="cta" >
    <br>
    <br>
    <input type="button" (click)="cancelULD()"value="Cancel" class="cta">
  </form>
</div>
