<h1>Disease</h1>
<table>
  <tr>
    <th>ID</th>
    <th>Disease Name</th>
    <th>Disease Description</th>
    <th>Remove</th>
    <th>Edit</th>
  </tr>
  <tr *ngFor="let Dis of Disease">
    <td>{{Dis.Des_ID}}</td>
    <td>{{Dis.Des_Name}}</td>
    <td>{{Dis.Des_Desc}}</td>
    <td><button (click)="removeDisease(Dis.Des_ID)"  class="cta">Remove</button></td>
    <td><button (click)="edit(Dis.Des_ID,Dis.Des_Name,Dis.Des_Desc)"  class="cta">Edit</button></td>
  </tr>
</table>
<button (click)="addDisease1()" *ngIf="addAct" class="cta">Click to add new Disease</button>



<div *ngIf="editistrue">
  <form [formGroup]="EditForm" (ngSubmit)="updateDisease()">
    <label>
      Disease ID:
      <input type="text" formControlName="Des_ID" style="width: 150px" disabled>
    </label>
    <label>
      Disease Name:
      <input type="text" formControlName="Des_Name" maxlength="50" style="width: 150px">
    </label>
    <label>
        Disease Description:
        <textarea formControlName="Des_Desc" style="width: 98%"></textarea>
      </label>
  <br>
  <br>
    <input type="submit" value="Update Item" class="cta" >
    <br>
    <br>
    <input type="button" (click)="cancelUC()"value="Cancel" class="cta">
  </form>
</div>

<div *ngIf="addistrue">
  <form [formGroup]="AddForm" (ngSubmit)="addDisease()">
    <label>
        Disease Name:
      <input type="text" formControlName="Des_Name" style="width: 150px">
    </label>
    <label>
        Disease Description:
      <textarea formControlName="Des_Desc" style="width: 97.5%"></textarea>
    </label>
  <br>
  <br>
    <input type="submit" value="Add Item" class="cta" >
    <br>
    <br>
    <input type="button" (click)="cancelAC()"value="Cancel" class="cta">
  </form>
</div>