<ion-header>
  <ion-toolbar>
    <ion-title style="color: red">Malaria Map</ion-title>
    <ion-img src="/assets/mozzi.png" style="width:50px;float: right;"></ion-img>
  </ion-toolbar>
 
</ion-header>

<ion-content>
  <div>
    <ol><b>Risk level descriptions</b>
      <li style="color: red; font-size: 14px">Red: Severe</li>
      <li style="color: orange; font-size: 14px">Orange: Moderate</li>
      <li style="color: green; font-size: 14px">Green: Low</li>
    </ol>
  </div>
<div #mapElement class="map"></div>
</ion-content>
