<table>
  <tr>
    <th>ID</th>
    <th>Description</th>
    <th>Type</th>
    <th>Desease Name</th>
    <th>Remove</th>
    <th>Edit</th>
  </tr>
  <tr *ngFor="let prev of preventions">
    <td>{{prev.Prev_ID}}</td>
    <td>{{prev.Prev_Desc}}</td>
    <td>{{prev.Prev_Type}}</td>
    <td>{{prev.Des_Name}}</td>
    <td><button (click)="removeCause(prev.Prev_ID)"  class="cta">Remove</button></td>
    <td><button (click)="edit(prev.Prev_ID,prev.Prev_Desc,prev.Prev_Type,prev.Des_ID)"  class="cta">Edit</button></td>
  </tr>
</table>
<button (click)="addPrev1()" *ngIf="addAct" class="cta">Click to add new Prevention</button>



<div *ngIf="editistrue">
  <form [formGroup]="EditForm" (ngSubmit)="updatePrevention()">
    <label>
      Prevention ID:
      <input type="text" formControlName="Prev_ID">
    </label>
    <label>
      Prevention Description:
      <input type="text" formControlName="Prev_Desc">
    </label>
    <label>
      Prevention Type:
      <input type="text" formControlName="Prev_Type">
    </label>
    <label>
      Disease Name:
    </label>
    <select formControlName="Dis_Name" [(value)]="Selection">
      <option value="" disabled>Choose the Disease</option>
      <option *ngFor="let opt of options" [(value)]="opt.Des_ID">{{opt.Des_Name}}</option>
   </select>
  <br>
  <br>
    <input type="submit" value="Update Item" class="cta" >
    <br>
    <br>
    <input type="button" (click)="cancelUC()"value="Cancel" class="cta">
  </form>
</div>

<div *ngIf="addistrue">
  <form [formGroup]="AddForm" (ngSubmit)="addPrevention()">
    <label>
      Prevention Description:
      <input type="text" formControlName="Prev_Desc">
    </label>
    <label>
      Prevention Type:
      <input type="text" formControlName="Prev_Type">
    </label>
    <label>
      Disease Name:
    </label>
    <select formControlName="Dis_Name" [(value)]="Selection">
      <option value="" disabled>Choose the Disease</option>
      <option *ngFor="let opt of options" [(value)]="opt.Des_ID">{{opt.Des_Name}}</option>
   </select>
  <br>
  <br>
    <input type="submit" value="Add Item" class="cta" >
    <br>
    <br>
    <input type="button" (click)="cancelAC()"value="Cancel" class="cta">
  </form>
</div>
