<h1>Symptoms</h1>
<table>
  <tr>
    <th>ID</th>
    <th>Symptom Description</th>
    <th>Type</th>
    <th>Duration</th>
    <th>Remove</th>
    <th>Edit</th>
  </tr>
  <tr *ngFor="let symp of symptoms">
    <td>{{symp.Symp_ID}}</td>
    <td>{{symp.Symp_Desc}}</td>
    <td>{{symp.Symp_Type}}</td>
    <td>{{symp.Symp_Duration}}</td>
    <td><button (click)="removeSymptom(symp.Symp_ID)"  class="cta">Remove</button></td>
    <td><button (click)="edit(symp.Symp_ID,symp.Symp_Desc,symp.Symp_Type,symp.Symp_Duration)"  class="cta">Edit</button></td>
  </tr>
</table>
<button (click)="addSymptom1()" *ngIf="addAct" class="cta">Click to add new Location</button>



<div *ngIf="editistrue">
  <form [formGroup]="EditForm" (ngSubmit)="updateSymptom()">
    <label>
      Symptom ID:
      <input type="text" formControlName="Symp_ID" disabled>
    </label>
    <label>
      Symptom Name:
      <input type="text" formControlName="Symp_Desc">
    </label>
    <label>
      Symptom Type:
      <input type="text" formControlName="Symp_Type">
    </label>
    <label>
      Symptom Duration:
      <input type="text" formControlName="Symp_Duration">
    </label>
  <br>
  <br>
    <input type="submit" value="Update Item" class="cta" >
    <br>
    <br>
    <input type="button" (click)="cancelUC()"value="Cancel" class="cta">
  </form>
</div>

<div *ngIf="addistrue">
  <form [formGroup]="AddForm" (ngSubmit)="addSymptom()">
    <label>
      Symptom Description:
      <input type="text" formControlName="Symp_Desc">
    </label>
    <label>
      Symptom Type:
      <input type="text" formControlName="Symp_Type" maxlength="50">
    </label>
    <label>
      Symptom Duration:
      <input type="text" formControlName="Symp_Duration" maxlength="300">
    </label>
  <br>
  <br>
    <input type="submit" value="Add Item" class="cta" >
    <br>
    <br>
    <input type="button" (click)="cancelAC()"value="Cancel" class="cta">
  </form>
</div>

<h1>Symptom and Disease links</h1>
<table>
  <tr>
    <th>ID</th>
    <th>Symptom Name</th>
    <th>Disease</th>
    <th>Remove</th>
    <th>Edit</th>
  </tr>
  <tr *ngFor="let loc_des of loc_des_s">
    <td>{{loc_des.Symp_Des_ID}}</td>
    <td>{{loc_des.Symp_Desc}}</td>
    <td>{{loc_des.Des_Name}}</td>
    <td><button (click)="removeLoc_Des(loc_des.Symp_Des_ID)"  class="cta">Remove</button></td>
    <td><button (click)="editloc_des(loc_des.Symp_Des_ID,loc_des.Symp_ID,loc_des.Des_ID)"  class="cta">Edit</button></td>
  </tr>
</table>
<button (click)="addLoc_des()" *ngIf="addAct" class="cta">Click to add new Symptom and Disease link</button>

<div *ngIf="addLDisTrue">
  <form [formGroup]="AddFormSymp_Des" (ngSubmit)="addLD()">
    <label>
      Symptom Description:
    </label>
    <select formControlName="Symp_Desc" [(value)]="SelectionLoc">
      <option value="" disabled>Choose the Symptom</option>
      <option *ngFor="let opt of optionsl" [(value)]="opt.Symp_ID">{{opt.Symp_Desc}}</option>
   </select>
    <label>
      Disease Name:
    </label>
    <select formControlName="Dis_Name" [(value)]="SelectionDes">
      <option value="" disabled>Choose the Disease</option>
      <option *ngFor="let opt of optionsd" [(value)]="opt.Des_ID">{{opt.Des_Name}}</option>
   </select>
  <br>
  <br>
    <input type="submit" value="Add Item" class="cta" >
    <br>
    <br>
    <input type="button" (click)="cancelALD()"value="Cancel" class="cta">
  </form>
</div>

<div *ngIf="editLDisTrue">
  <form [formGroup]="EditFormSymp_Des" (ngSubmit)="updateLoc_Des()">
    <label>
      Location Disease ID:
      <input type="text" formControlName="Symp_Des_ID" disabled>
    </label>
    <label>
      Symptom Description:
    </label>
    <select formControlName="Symp_Desc" [(value)]="SelectionLoc">
      <option value="" disabled>Choose the Symptom</option>
      <option *ngFor="let opt of optionsl" [(value)]="opt.Symp_ID">{{opt.Symp_Desc}}</option>
   </select>
    <label>
      Disease Name:
    </label>
    <select formControlName="Dis_Name" [(value)]="SelectionDes">
      <option value="" disabled>Choose the Disease</option>
      <option *ngFor="let opt of optionsd" [(value)]="opt.Des_ID">{{opt.Des_Name}}</option>
   </select>
  <br>
  <br>
    <input type="submit" value="Update Item" class="cta" >
    <br>
    <br>
    <input type="button" (click)="cancelULD()"value="Cancel" class="cta">
  </form>
</div>
