ion-button.your-style-class.button {
    color: white;
    --background: red;
    --border-color:red !important;
    --border-radius:25px;
    --tab-border-color:red;
    --background-color:red !important;
}

